<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExternalDB_WPF.Properties.Settings.DBTestConnectionString"
            connectionString="Data Source=danielssql234.database.windows.net;Initial Catalog=DBTest;Persist Security Info=True;User ID=testuser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>